In [1]:
import requests
import pandas as pd
import numpy as np
url="http://127.0.0.1:5000/"

In [2]:
tweet = pd.read_csv("./full-corpus.csv")
tweet.head()

,Topic,Sentiment,TweetId,TweetDate,TweetText
0,apple,positive,126415614616154112,Tue Oct 18 21:53:25 +0000 2011,Now all @Apple has to do is get swype on the i...
1,apple,positive,126404574230740992,Tue Oct 18 21:09:33 +0000 2011,@Apple will be adding more carrier support to ...
2,apple,positive,126402758403305474,Tue Oct 18 21:02:20 +0000 2011,Hilarious @youtube video - guy does a duet wit...
3,apple,positive,126397179614068736,Tue Oct 18 20:40:10 +0000 2011,@RIM you made it too easy for me to switch to ...
4,apple,positive,126395626979196928,Tue Oct 18 20:34:00 +0000 2011,I just realized that the reason I got into twi...

In [3]:
import string
import re
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    text = re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text)
    text = re.sub("(#[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text)
    return text

tweet['text'] = tweet['TweetText'].apply(lambda x: remove_punct(x))
tweet.head()

,Topic,Sentiment,TweetId,TweetDate,TweetText,text
0,apple,positive,126415614616154112,Tue Oct 18 21:53:25 +0000 2011,Now all @Apple has to do is get swype on the i...,Now all Apple has to do is get swype on the ip...
1,apple,positive,126404574230740992,Tue Oct 18 21:09:33 +0000 2011,@Apple will be adding more carrier support to ...,Apple will be adding more carrier support to t...
2,apple,positive,126402758403305474,Tue Oct 18 21:02:20 +0000 2011,Hilarious @youtube video - guy does a duet wit...,Hilarious youtube video guy does a duet with ...
3,apple,positive,126397179614068736,Tue Oct 18 20:40:10 +0000 2011,@RIM you made it too easy for me to switch to ...,RIM you made it too easy for me to switch to A...
4,apple,positive,126395626979196928,Tue Oct 18 20:34:00 +0000 2011,I just realized that the reason I got into twi...,I just realized that the reason I got into twi...

In [4]:
pos = tweet[['Sentiment','TweetText','text']][tweet['Sentiment']=="positive"]
neg = tweet[['Sentiment','TweetText','text']][tweet['Sentiment']=="negative"]

In [5]:
pos.index=range(0,len(pos))
neg.index=range(0,len(neg))

In [8]:
l = []
for i in range(len(pos)):
    k = pos['TweetText'][i]
    params = {"query" : k}
    r = requests.get(url, params)
    r=r.json()
    l.append(r['prediction'])
print("qwerty")
m = []
for i in range(len(neg)):
    k = neg['TweetText'][i]
    params = {"query" : k}
    r = requests.get(url, params)
    r=r.json()
    m.append(r['prediction'])

qwerty

In [12]:
l.count("Negative")

157

In [13]:
len(l)

519

In [14]:
m.count("Positive")

133

In [15]:
len(m)

572

In [6]:
l.count("Negative")+m.count("Positive")

255

In [7]:
len(l)+len(m)

1091

## Bert- lr.pkl

In [16]:
l.count("negative")

74